target/
.idea/
*.iml
*.log
*.png
logs/
*.pyc
spec/output.xml
spec/*.odt
*.out
*.pid
robot-env/
virtualenv*
atlassian-ide-plugin.xml

*.egg-info

log.html
output.xml
report.html
classes/
node_modules/
bower_components/
karma-results.xml

mongodb.port
mongo.yml

nosetests.xml
.virtualenv
Nose.xml
.vagrant/
scenario-jars/
spec/runtime/
integration.yml
spec/lib/delay_after_service_start.py
live.yml
chromedriver
out
selenium_gui_tests/exception.png
selenium_gui_tests/exception_css.png
dependency-reduced-pom.xml